body {
  font-family: "raleway", sans-serif;
  font-size: auto;
  background-color: #f8f7ff;
  display: flex;
  flex-wrap: wrap;
  flex-direction: center;
  color: #56526e;
  padding: 15px;
}

h1 {
  font-size: 50px;
  margin-bottom: 10px;
}

h2 {
  font-family: "alex brush";
  font-size: 45px;
  margin-bottom: 1px;
}

h3 {
  font-family: "alex brush";
  font-size: 35px;
  margin-bottom: 1px;
}

.container-about {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
}

ul {
  list-style-type: none;
}

nav > a {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  color: gray;
  padding: 10px;
  text-decoration: none;
  border-radius: 3px;
  font-size: 13px;
  background-color: white;
}

nav > a:hover {
  color: #ffb7c3;
}

.debsphoto {
  width: 400px;
  height: 250px;
  background: url("images/debsphoto4.png") no-repeat white;
  background-size: cover;
  display: inline-block;
  border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-position: center;
  background-color: lightgray;
}
.debsphoto:hover {
  background: url("images/debsphoto3.png") no-repeat white;
  background-size: cover;
  background-color: lightgray;
}

.contact-icons > a {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  color: gray;
  text-decoration: none;
  border-radius: 2px;
  background-color: white;
  padding: 8px;
}

@media (max-width: 500px) {
  .container-about {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 430px) {
  .debsphoto {
    width: 100%;
  }
}
